﻿.roboto-sans{
    font-family: 'Roboto',sans-serif;
}

.border-input{
    border:0px 0px 0px 1px solid black;
}
.margin-footer{
    margin-bottom: 130px;
}
.main-section{
    margin-bottom: 0 auto;
    padding: 0px;
}


.custom-modal{
    background-color: #434e5a;
    opacity: 1;
    padding: 0 18px;
    border-radius: 10px;
}

.light-green{
    background-color: #00b300;
}
.text-branco{
    color:white;
}
.form-group{
    margin-bottom:20px;

}

.font-Awe{
    position:relative;
    font-size:22px;
    padding-top:6px;
    left:28px;
}



.invisivel {
    display: none;
}

.bootbox .modal-header h4 {
  float: none;
}

.bootbox .modal-header .close {
  position: absolute;
  right: 15px;
}