﻿@model ControleCliente.Web.ViewModel.ClienteViewModel
@{
    ViewBag.Title = "Create";
}

<div class="modal-content mt-5">
    <div class="modal-header">
        <h4>Adicionar Cliente</h4>
    </div>
    @using (Html.BeginForm())
    {
        <div class="modal-body ">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4 form-group">
                    @Html.LabelFor(m => m.RazaoSocial, new { @class= "font-weight-bold" })
                    @Html.TextBoxFor(m => m.RazaoSocial, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RazaoSocial, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(m => m.NomeFantasia, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.NomeFantasia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NomeFantasia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    @Html.LabelFor(m => m.CNPJ, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control", id="CNPJ" })
                    @Html.ValidationMessageFor(m => m.CNPJ, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row border-top pt-2">
                   <div class="col-md-4 form-group">
                       @Html.LabelFor(m => m.Municio, new { @class = "font-weight-bold" })
                       @Html.TextBoxFor(m => m.Municio, new { @class = "form-control" })
                       @Html.ValidationMessageFor(m => m.Municio, "", new { @class = "text-danger" })
                   </div>
                <div class="col-md-1 form-group">
                    @Html.LabelFor(m => m.Logradouro, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.Logradouro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Logradouro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    @Html.LabelFor(m => m.Bairro, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Bairro, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2 form-group">
                    @Html.LabelFor(m => m.Numero, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.Numero, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Numero, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2 form-group">
                    @Html.LabelFor(m => m.Cep, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.Cep, new { @class = "form-control",id="Cep" })
                    @Html.ValidationMessageFor(m => m.Cep, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    @Html.LabelFor(m => m.Complemento, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Complemento, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a class="btn btn-secondary" href="@Url.Action("Index","Usuario")">Voltar</a>
            <button type="submit" class="btn btn-success"><i class="fa fa-plus mr-1"></i>Adicionar</button>
        </div>
    }

</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#CNPJ").mask("99.999.999/9999-99");
            $("#Cep").mask("99.999-999");
        });
    </script>
}