﻿@model IEnumerable<ControleCliente.Web.ViewModel.ClienteViewModel>
@{
    ViewBag.Title = "Clientes";
}

<table class="table table-hover " id="ClientTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Razão Social</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Municipio</th>
            <th scope="col">Logradouro</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @{int cont = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@cont</th>
                <td>@item.RazaoSocial</td>
                <td>@item.CNPJ</td>
                <td>@item.Municio</td>
                <td>@item.Logradouro</td>
                <td>
                    @Ajax.ActionLink(
                   "Excluir", "ExcluirCliente", "Usuario",new { id = item.ClienteID}
                   ,new AjaxOptions
                   {   HttpMethod = "POST",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "ClientTable"}
                   ,new { @class="btn btn-danger mr-1"} )
                    <a class="btn btn-primary mr-1" href="@Url.Action("Editar","Cliente",new{ ClienteID = item.ClienteID})">
                        <i class="fa fa-edit mr-1"></i>Editar
                    </a>
                </td>

                @{cont = cont + 1; }
            </tr>
        }


    </tbody>
</table>



