﻿@model ControleCliente.Web.ViewModel.UsuarioViewModel
@{
    ViewBag.Title = "Detalhes";
}

<div class="modal-content col-sm-9 mx-auto pb-2 mb-5 mt-5">
  <div class="modal-header">
      <h2 class="mx-auto">Detalhes</h2>
  </div>
      <div class="modal-body">
        <div class="row mb-4">
            <div class="col-sm-3 offset-sm-3 text-center">
                @Html.LabelFor(m => m.NomeUsuario,new { @class= "font-weight-bold" })
                <div class="row border-bottom border-dark">
                    <span class="ml-auto mr-auto">
                        @Html.DisplayFor(m => m.NomeUsuario, new { @class = "" })
                    </span>
                </div>
              
            </div>

            <div class="col-sm-2 offset-sm-1 text-center">
                @Html.LabelFor(m => m.Telefone, new { @class = "font-weight-bold" })
                <div class="row border-bottom border-dark">
                    <span class="ml-auto mr-auto">
                        @Html.DisplayFor(m => m.Telefone, new { @class = "" })
                    </span>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-6 offset-sm-3 text-center">
                @Html.LabelFor(m => m.NomeCompleto, new { @class = "font-weight-bold" })
                <div class="row border-bottom border-dark">
                    <span class="ml-auto mr-auto">
                        @Html.DisplayFor(m => m.NomeCompleto, new { @class = "" })
                    </span>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-6 offset-sm-3 text-center">
                @Html.LabelFor(m => m.Email, new { @class = "font-weight-bold" })
                <div class="row border-bottom border-dark">
                    <span class="ml-auto mr-auto">
                        @Html.DisplayFor(m => m.Email, new { @class = "" })
                    </span>
                </div>
            </div>
        </div>



    </div>

    <div class="modal-footer">
          <a class="btn btn-secondary" href="@Url.Action("Index","Usuario")">Voltar</a>
        <a id="editModal" class="ml-2 btn btn-success text-white"><i class="fa fa-user-lock mr-1"></i>Alterar Senha</a>
          <a class="ml-2 btn btn-primary text-white" href="@Url.Action("Edit","Usuario")"><i class="fa fa-edit"></i>Editar</a>

    </div>
</div>


<div class="invisivel" id="modal_editar" role="dialog">
    @using (Ajax.BeginForm("AlterarSenha", "Usuario", null, new AjaxOptions { HttpMethod = "POST" }))
    {
        <div class="modal-body">
            <div class="form-group col-md-8">
                @Html.Password("OldSenha", "", new { @class = "form-control", placeholder = "Senha Atual" })
            </div>
            <div class="form-group col-md-8">
                @Html.Password("NewSenha", "", new { @class = "form-control", placeholder = "Nova Senha" })
            </div>
            <div class="form-group col-md-8">
                @Html.Password("ConfirmNewSenha", "", new { @class = "form-control", placeholder = "Confirmar Nova Senha" })
            </div>

            <div class="form-group">
                <a role="button" data-dismiss="modal" class="btn btn-light">Cancelar</a>
                <button type="submit" class="btn btn-secondary"><i class="fa fa-save mr-1"></i>Salvar</button>
            </div>
        </div>

    }
</div>


@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).on('click', '#editModal', function () {
                var modal_editar = $('#modal_editar');
                bootbox.dialog({
                    title: 'Alterar Senha',
                    message: modal_editar
                })
                    .on('shown.bs.modal', function () {
                        modal_editar.show(0, function () {
                            $("#OldPassword").focus();
                        });
                    })
                    .on('hidden.bs.modal', function () {
                        $("#OldPassword").val("");
                        $("#NewPassword").val("");
                        $("#CNewPassword").val("");
                        modal_editar.appendTo('body');
                        modal_editar.hide();
                    });

        });
    </script>
}