﻿@model ControleCliente.Web.ViewModel.UsuarioSignInViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="modal-content col-sm-9 mx-auto pb-2 mb-5 mt-5">
    <div class="modal-header">
        <h2 class="mx-auto">Editar</h2>
    </div>

        @using (Html.BeginForm())
        {
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-red" })
                @Html.HiddenFor(m => m.UsuarioID)
                @Html.HiddenFor(m => m.Senha)
                <div class="row mb-4">
                    <div class="col-sm-3 offset-sm-3 text-center">
                        @Html.LabelFor(m => m.NomeUsuario, new { @class = "font-weight-bold" })
                        <div class="row">
                            @Html.TextBoxFor(m => m.NomeUsuario, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NomeUsuario, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="col-sm-2 offset-sm-1 text-center">
                        @Html.LabelFor(m => m.Telefone, new { @class = "font-weight-bold" })
                        <div class="row">
                            @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-danger", id = "Phone" })
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-6 offset-sm-3 text-center">
                        @Html.LabelFor(m => m.NomeCompleto, new { @class = "font-weight-bold" })
                        <div class="row">
                            @Html.TextBoxFor(m => m.NomeCompleto, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NomeCompleto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-6 offset-sm-3 text-center">
                        @Html.LabelFor(m => m.Email, new { @class = "font-weight-bold" })
                        <div class="row">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-6 offset-sm-3 text-center">
                        @Html.LabelFor(m => m.ConfirmarSenha, new { @class = "font-weight-bold" })
                        <div class="row">
                            @Html.Password("ConfirmarSenha","", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmarSenha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

    <div class="modal-footer">
        <a class="btn btn-secondary" href="@Url.Action("Detalhes","Usuario")">Voltar</a>
        <button type="submit" class="btn btn-success text-white"><i class="fa fa-save m-1"></i>Salvar</button>
    </div>
        }

          
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#Phone").mask("(99)9999-9999");
        });
    </script>
}