﻿@model IEnumerable<ControleCliente.Web.ViewModel.ClienteViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12 my-md-5">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Clientes</h2>
            @using (Ajax.BeginForm("Index","Usuario",new AjaxOptions { HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,UpdateTargetId = "ClientTable"},new { @class="mr-auto ml-auto"}))
            {
                <div class="form-inline">
                    @Html.TextBox("pesquisa", null, new { @placeholder = "Digite o nome", @class = "form-control mr-2" })
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search mr-1"></i>Buscar</button>
                </div>

            }
        </div>
        <div class="modal-body">
            @Html.Partial("_Clientes", Model)
        </div>
        <div class="modal-footer">
            <a href="@Url.Action("Create","Cliente")" class="btn btn-success"><i class="fa fa-plus mr-1"></i>Adicionar</a>
        </div>
    </div>

</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#navSearch").remove();
    </script>
}
