﻿@model ControleCliente.Web.ViewModel.UsuarioLoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="modal-dialog roboto-sans margin-footer">
    <div class="col-sm-9 main-section mx-auto">
         <div class="modal-content custom-modal">
             <div class="col-12 modal-header mb-3">
                 <h2 class="text-branco">Login</h2>
             </div>
             <div class="col-12">
                 @using (Html.BeginForm())
                 {
                     @Html.ValidationSummary(true, "", new { @class = "text-black" })
                     <div class="input-group mb-3">
                         <div class="input-group-prepend">
                             <span class="input-group-text"><i class="fa fa-user-alt"></i></span>
                         </div>
                         @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = "Digite seu Login"})
                     </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        @Html.PasswordFor(model => model.Senha, new { @class = "form-control form-icon", placeholder = "Digite sua Senha" })
                    </div>
                    <div class="form-group text-branco">
                        @Html.LabelFor(model => model.LembrarMe)
                        @Html.CheckBoxFor(model => model.LembrarMe)
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success light-green">Login</button>
                    </div>
                    <div class="col-12 forgot text-center text-branco mb-3">
                        @Html.ActionLink("Cadastre-se","SignIn",null,new { @class="text-branco"})
                    </div>
                 }
             </div>

         </div>
    </div>
</div>

