﻿@model ControleCliente.Web.ViewModel.UsuarioSignInViewModel
@{
    ViewBag.Title = "SignIn";
}

<div class="modal-dialog roboto-sans mt-5 mb-5">
    <div class="col-lg-12 main-section mx-auto">
        <div class="modal-content custom-modal">
            <div class="col-12 modal-header mb-3">
                <h2 class="text-branco">Cadastro</h2>
            </div>
            <div class="col-12">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-warning" })                  
                    <div class="form-group text-center mb-4">
                            @Html.LabelFor(m => m.NomeUsuario, new { @class = "col-md-12 text-branco" })
                            @Html.TextBoxFor(model => model.NomeUsuario, new { @class = "form-control col-md-12", placeholder = "Digite seu Login" })
                            @Html.ValidationMessageFor(m => m.NomeUsuario, "", new { @class = "text-warning" })
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(m => m.Senha, new { @class = "col-md-12 text-branco" })
                        @Html.PasswordFor(model => model.Senha, new { @class = "form-control col-md-12", placeholder = "Digite sua Senha" })
                        @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-warning" })
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(m => m.ConfirmarSenha, new { @class = "col-md-12 text-branco" })
                        @Html.PasswordFor(model => model.ConfirmarSenha, new { @class = "form-control col-md-12", placeholder = "Confirmar Senha" })
                        @Html.ValidationMessageFor(m => m.ConfirmarSenha, "", new { @class = "text-warning" })
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(m => m.NomeCompleto, new { @class = "col-md-12 text-branco" })
                        @Html.TextBoxFor(model => model.NomeCompleto, new { @class = "form-control col-md-12", placeholder = "Digite seu Nome Completo" })
                        @Html.ValidationMessageFor(m => m.NomeCompleto, "", new { @class = "text-warning" })
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-12 text-branco" })
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control col-md-12", placeholder = "Digite seu E-Mail" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-warning" })
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(m => m.Telefone, new { @class = "col-md-12 text-branco" })
                        @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control col-md-12", placeholder = "Digite seu Telefone", id="Tel" })
                        @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-warning" })
                    </div>

                    <div class="form-group text-center mb-3">
                        <button type="submit" class="btn btn-success light-green">Cadastrar</button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

@section Scripts{
   @Scripts.Render("~/bundles/jqueryval") 
    <script>
        $(document).ready(function () {
            $("#Tel").mask("(99)9999-9999");
        });
    </script>
}

