﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Controle de Usuario</title>
    <link href="~/Content/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand mr-auto" href="@Url.Action("Index","Usuario")">Controle Clientes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @if (Request.IsAuthenticated)
                   {
                   using (Html.BeginForm("Index", "Usuario", FormMethod.Post, 
                       new { @class = "form-inline my-2 my-lg-0 ml-auto", id = "navSearch" }))
                   {
                        @Html.TextBox("pesquisa","",new { @class= "form-control mr-sm-2",placeholder="Razão Social"})
                        <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-search mr-1"></i>Buscar</button>
                    }

                }
                <ul class="navbar-nav ml-auto">
                    @if (!Request.IsAuthenticated)
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("Login","Conta")">Logar</a>
                        </li>
                    }

                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("Index","Usuario")">Clientes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">Olá @User.Identity.Name</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="@Url.Action("Detalhes","Usuario")" class="dropdown-item"><span class="fa fa-user-edit"></span> Meus Dados</a>
                                <a class="dropdown-item" href="@Url.Action("LogOff","Conta")"> <span class="fa fa-sign-out-alt"></span> Sair</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>







    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Controle de Clientes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
